/* page wrapper */
.optionsWrap {
  padding: 2rem;
  height: 100%;
  height: 100dvh;
  background-color: #343434;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-size: 1.6rem;
  font-family: 'Fira Sans', sans-serif;
}

/* title wrapper */
.titleWrap {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.titlePage {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  text-transform: uppercase;
}

.titleSub {
  font-size: 1.6rem;
}

/* provider details for view/modify */
.providerWrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.providerHead {
  display: flex;
  gap: 1rem;
}

.providerTitle {
  font-size: 1.6rem;
  font-weight: 400;
}

.modifyStatusLabel {
  font-weight: 400;
  color: #aaa;
}

.providerList {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.portComp {
  background-color: #f2f2f2;
  color: #343434;
  border-radius: 0.5rem;
  padding-inline: 0.6rem;
  padding-block: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* test */
.provList {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.provAlias {
  border: none;
  outline-color: transparent;
}

.provAlias:disabled {
  background-color: #f2f2f2;
}

.provPort {
  border: none;
  outline-color: transparent;
}
.provPort:disabled {
  /*  */
}
/* test */

/* modifying styles */
.modifying {
  border: 1px solid red;
}

/* sortable styles */
.portCompHandle {
  display: none;
  cursor: move;
  cursor: -webkit-grabbing;
  color: #343434;
}

.portCompHandle.modifying {
  display: block;
}

.ghost {
  opacity: 0.2;
}

/* provider list actions and controls */
.modifyButton {
  background-color: #bff6ca;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
}

/* footer */
.footerWrap {
  background-color: #232323;
  position: fixed;
  padding: 2rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footerTitle {
  font-style: italic;
  font-weight: 700;
}
